TSN_CACHEABLE_PROVIDER=REDIS
TSN_CACHEABLE_REDIS_HOST=redis-####.c85.us-east-1-2.ec2.cloud.redislabs.com
TSN_CACHEABLE_REDIS_PORT=0
TSN_CACHEABLE_REDIS_USERNAME=default
TSN_CACHEABLE_REDIS_PASSWORD=123
TSN_CACHEABLE_TTL=60
TSN_CACHEABLE_USE_TTL=true